#wrapper{
    max-width: 1200px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    width: 1000px;
    height: 70px;
    display: block;
}

.header_content{
    display: inline-block;
}

.header_content h3{
    margin-right: 600px;
    margin-left: 10px;
}

.actions {
    margin-left: 20px;
    display: inline-block;
}

.this_user_quotes{
    padding: 5px;
    width: 350px;
    height: auto;
    margin: 10px;
    border: 2px solid black;

}