<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="errors" >
            {% if messages %}
                <ul>
                    {% for one_message in messages %}
                    <li>{{one_message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form" >
            <h3>Register</h3>
            <form action="/create_user" method="post">
                    {% csrf_token %}
                    First Name <input type="text" name="first_name" class="form_field"> <br>
                    Last Name <input type="text" name="last_name" class="form_field"> <br>
                    Email <input type="email" name="email" class="form_field"> <br>
                    Password <input type="password" name="password" class="form_field"> <br>
                    Confirm Password <input type="password" name="confirm_password" class="form_field"> <br>
                    <input type="submit" value="Register" class="form_field" id="button">
            </form>
        </div>

        <div class="form" id="login">
            {{request.session.fail}}
            <h3>Login</h3>
            <form action="/login" method="post">
               {% csrf_token %}
                Email <input type="email" name="login_email" class="form_field"><br>
                Password <input type="password" name="login_password" class="form_field"><br>
                        <input type="submit" value="Login" class="form_field" id="button_2"><br>
            </form>
        </div>
    </div>
</body>
</html>